[2015-05-19 14:16] y-a-v-a opened #1 "Add more GD functions"
Would be nice to have more functions from the GD library to be implemented.
See for its source here: https://github.com/libgd/libgd

[2015-06-08 09:26] y-a-v-a opened #2 "checking the prototype of gd.Image is fatal"
[code]
This throws an exception from Node and kills the process. This has to do with the accessors.
[code]

Since the accessors of width, height, trueColor, interlace and colorsTotal are instance specific, they should be changed into:
[code]

[2015-06-09 05:37] y-a-v-a commented on #2
Fixed in v0.4.1

[2015-06-09 05:37] #2 closed

[2015-06-14 12:32] y-a-v-a commented on #1
Should be more specified.

[2015-06-14 12:32] #1 closed

[2015-06-14 12:33] y-a-v-a opened #3 "Add gd crop functionality"
Add functionality from GD's functions gdImageCrop, gdImageCropAuto and gdImageCropThreshold.

[2015-06-17 19:03] y-a-v-a commented on #3
Implemented width 429ca0bb881cfd3ebf557abb7157948434500a55

[2015-06-17 19:03] #3 closed

[2015-06-17 19:04] y-a-v-a opened #4 "Add transformation methods from and to paletted images and truecolor images"
Although this will add another set of methods to node-gd, they definitely add value for creative people.

[2015-06-21 00:09] raabbajam opened #5 "Failing to build on GD library 2.1.1 with TIFF disabled"
I can not `npm install node-gd`. Here are some infomations:
[code]

From error log, I assumed this is because I can not build some `tiff` function which is `gdImageTiffPtr`. I have no idea how to enable TIFF features from GD library directly. I use Ubuntu 12.04, and the ones from Ubuntu repository is version 2.0. So I build with following instruction from https://github.com/libgd/libgd/tree/master

[2015-06-21 12:14] y-a-v-a commented on #5
Hi thanks for the feedback, I really appreciate it, since I am not able to test all installed variants of libgd ;-)
But I do want to support as many different configurations as possible!! So I will try to fix this as soon as possible (takes me  2 or 3 days), so the build will be successful on your system. I will keep you informed in this thread.
Cheers!

[2015-06-21 12:30] y-a-v-a commented on #5
Ok so I think I have fixed it right now alread: I have added conditionals around the tiff functions for when libtiff not is available. This should hopefully build successfully on your system. If you have any more questions, please don't hesitate.
Cheers! 🍺

[2015-06-21 13:54] raabbajam commented on #5
Hey, @y-a-v-a!

I don't know what causing this, but it looks like several methods that under gdlibs 2.1 doesn't work for me. In the end, I commented all methods that my machine can not find.

So after several times running, error, commenting out the undefined methods on `node-gd.cpp`, rebuild, in the end I comment out everything under `LATEST_GD` conditional check. And then it is working wonderful

[2015-06-22 07:46] y-a-v-a commented on #5
Hi @raabbajam,
I added LATEST_GD and I just noticed that the LATEST_GD-check only checks for the first two release numbers (like for the 2 and 1 in 2.1.0) and not taking into account the last number. I will change this as soon as I have time.

Apparently GD_BMP is not present on your first machine. Also, it appears that on your other machine, the check for LATEST_GD is not fully correclty working.

[2015-06-25 09:27] y-a-v-a commented on #5
Hi,
Just to inform you: I'm rewriting parts of the c++ code to better distinguish between versions of libgd, but it takes me some more days before it will be done and tested.
Cheers 🍻

[2015-06-25 09:33] raabbajam commented on #5
Yes, I think that will be the best. May I suggest to also expand to feature checking with combination to version checking (instead of LATEST or not), because some older version with and without some features enabled will have different function.

Cheers back to you :+1:

[2015-06-25 09:37] y-a-v-a commented on #5
Yes that's exatcly what I wanted to implement: version based feature detection. But it takes some time to test this, since I'd like to test it against real-world libgd versions and configurations. I'll probably set up a virtual machine and test it in there.
Thanks for the tip.

[2015-06-27 06:11] afanasy commented on #5
+1
`npm install node-gd` doesn't work
I'm using Ubuntu Trusty 14.04 LTS + node v0.12 + GD library  2.1.1-dev@ (from apt-get install libgd2-xpm-dev)

[2015-06-27 06:26] y-a-v-a commented on #5
Thanks for noticing, I worked on it yesterday, hope to publish to NPM today or tomorrow. I'll keep you informed.

[2015-06-27 07:55] y-a-v-a commented on #5
@afanasy are you able to paste the console output of npm install? Would help me in fixing this.
Thanks in advance!

[2015-06-27 08:25] afanasy commented on #5
npm install node-gd
[code]

[2015-06-27 13:23] y-a-v-a commented on #5
So I noticed that on Debian and Ubuntu, libgd2 actually lies abouts its version, since there seems to be a bug in the header file located in `/usr/include/gd.h`.
[code]
Some conditions I've created in node-gd did not work properly because it relied on GD_VERSION_STRING. Now I've decided to rely on a combination of the above.

[2015-06-27 13:31] afanasy commented on #5
Wow, interesting.

On Sat, Jun 27, 2015 at 9:23 PM, Vincent Bruijn <notifications@github.com>
wrote:

[2015-06-27 13:35] y-a-v-a commented on #5
So I've published a new minor version update `0.5.0`, which distinguishes better between different possible libgd2 versions. Please give it a try and in case of bugs, you're really helping me out with reporting them  😀
See also: https://www.npmjs.com/package/node-gd

Cheers!
🍹

[2015-06-27 13:37] y-a-v-a commented on #5
The above should be fixed with 860db8971d58aba56e88463ea0df05dd4c18b3b8

[2015-06-27 13:37] #5 closed

[2015-06-27 13:46] afanasy commented on #5
Yes, it builds on my setup now! Thanks!

On Sat, Jun 27, 2015 at 9:37 PM, Vincent Bruijn <notifications@github.com>
wrote:

[2015-06-27 13:54] y-a-v-a commented on #5
Good to hear! I've filed a bug report at Debian, hopefullt they're going to fix it.

[2015-06-27 14:02] y-a-v-a commented on #5
Just for your information: some methods might not be available on your system. I do not register a complete list in the readme, but you can easily check yourself.
[code]

[2015-07-02 20:48] y-a-v-a opened #6 "Error on Ubuntu 12.04"
When installing libgd2-xpm-dev on Ubuntu 12.04, it installs package libgd2 at version libgd2-2.0.36~rc1~dfsg which appears not to contain gdImageEllipse, while the header file gd.h actually contains two declarations of gdImageEllipse.

[2015-07-02 20:49] y-a-v-a commented on #6
So this is a bug in libgd2, and not in node-gd.

[2015-07-02 21:35] #6 closed

[2015-07-02 21:36] y-a-v-a commented on #6
Set a condition on gd.ellipse to make it unavailable for libgd2 2.0.36.

[2015-07-06 07:26] y-a-v-a opened #7 "Make it work on windows"
Find out how to get node-gd built on windows.

[2015-07-07 20:08] #4 closed

[2015-07-07 20:10] y-a-v-a opened #8 "Add Animated GIF creation functionality."
Would be nice.

[2015-07-17 13:26] y-a-v-a commented on #8
[code]

[2015-07-18 14:21] y-a-v-a commented on #8
Released in v0.5.2

[2015-07-18 14:21] #8 closed

[2015-07-30 23:35] Lnx38 opened #9 "Name with_tiff is not defined"
![screenshot](https://cloud.githubusercontent.com/assets/13579525/8997628/45d7cc9c-3756-11e5-9092-52cc2afec054.png)

Error after npm install. Windows 10. Python 2.7.10.

Log file: http://www37.zippyshare.com/v/UfIq7Cg9/file.html

[2015-08-04 21:38] y-a-v-a commented on #9
Hi thanks for calling out, sorry for the late response.
I'm calling a shell script in binding.gyp that is OS-specific. You could try to use cygwin, but I have no idea weather that would work.
I'm planning to get node-gd to work on Windows, but I have no Windows OS at my disposal and I'm working now on moving node-gd to use Nan v2.0 https://github.com/nodejs/nan which is quite a challenge for me ;-

[2015-08-04 21:40] y-a-v-a opened #10 "Implement Nan v2.0.0"
Got it to work on branch nan2, but would be nice to implement the AsyncWorker for the gd.Image#fileCallback function.

[2015-08-28 13:49] osxi opened #11 "Get raw image data for use in Buffer"
Is there an easy implementation to get the data from an image? Currently, I'm using .saveImage() and then the result from fs.readFileSync to initialize a Buffer to use the image as an email attachment.

I need to access the raw data without the temporarily saving the image, reading it, then deleting it.

[2015-08-31 08:03] y-a-v-a commented on #11
The raw binary data of an image is returned if you call img.pngPtr() on an instance of gd#Image. So for example:
[code]
And then you can handle the buffer to your liking. I hope this answers your quetion?
An instance of gd#Image has a lot of these xxxPtr() methods that will return binary data of a specific image type (so xxx can be jpeg, png, bmp, etc.).

[2015-09-10 18:43] ChALkeR commented on #10
Adding to the list: https://github.com/nodejs/node/issues/2798.

[2015-09-10 21:52] y-a-v-a commented on #10
With release of v1.0.0 now runs against nodejs 0.10, 0.12 and 4.0.0 !
🍻cheers!

[2015-09-10 21:52] #10 closed

[2015-09-10 21:57] y-a-v-a commented on #10
@ChALkeR thanks for adding me to the list, it gave me the pressure I needed to finish and package.

[2015-09-21 00:04] jpacora opened #12 "Error: Argument 2 must be a function"
I'm using Mac OS X Yosemite, trying to test the example:

// Require library
var gd = require('node-gd');

// Create blank new image in memory
var img = gd.create(200, 80);

// Set background color
img.colorAllocate(0, 255, 0);

// Set text color
var txtColor = img.colorAllocate(255, 0, 255);

// Set full path to font file
var fontPath = '/full/path/to/font.ttf';

// Render string in image
img.str

[2015-09-21 06:59] y-a-v-a commented on #12
Hi, @jpacora, thanks for reaching out! Since version 1.0.0, the API has changed quite much for the two functions `gd.create` and `gd.createTrueColor`. Since I decided to upgrade to Nan v2 ( https://github.com/nodejs/nan/ ), these two functions are asynchronous by default. See also the main documentation page here on GitHub. Your example should work this way:

[code]

If you have a reason to use th

[2015-09-21 07:20] #11 closed

[2015-09-21 07:20] #12 closed

[2015-09-21 07:20] y-a-v-a commented on #7
See also #9

[2015-09-22 03:23] osxi commented on #11
That does help. Thank you!

[2015-09-25 14:10] y-a-v-a commented on #11
You're welcome.
Be aware that the API has changed with version 1.0.0 regarding `gd.create` and `gd.createTrueColor`.

If you want to be as asynchronous as possible, you should use something like:
[code]
Or you should change your existing calls to `gd.create` to `gd.createSync`. If you have any more question, feel free!
🍻 Cheers

[2015-10-10 12:30] gabrieledarrigo opened #13 "Node.js 4.x.x compatibility"
Hello,
is this package compatible with Node.js 4.x.x?
I seen that on travis.ci You build only on "0.12" and "0.10".
I ask because I have a package that use node-gd as a dependency and I like it to work on last Node.js version.

[2015-10-10 12:56] y-a-v-a commented on #13
Hi, thanks for reaching out.
Yes, it is compatible with Node.js 4.x.x since it uses Nan2: https://github.com/nodejs/nan
It's more a matter of travis-configuration which I need to update.

Which package is it, that is dependent on node-gd? If that package is not using node-gd@1.x.x, then it will *not* support node 4.x.x. In other words, Node.js 4.x.x is supported from node-gd version 1.x.x.
Cheers,

[2015-10-10 13:00] y-a-v-a commented on #13
Are you referring to your package https://github.com/gabrieledarrigo/monsterid ?
Just update the package.json to let it use node-gd@1.0.1 and change "gd.createTrueColor" to "gd. createTrueColorSync", or use the async version in your file https://github.com/gabrieledarrigo/monsterid/blob/master/src/index.js

[2015-10-11 11:57] gabrieledarrigo commented on #13
Ehi, You are the man!
How did You find monsterid?
Updated and It works like a charm, thank You very much!

[2015-10-11 19:49] y-a-v-a commented on #13
Hi!
I found your package monsterid on the npmjs.com page. They keep track of all dependencies 😀:
https://www.npmjs.com/package/node-gd
Thanks that I could help out. If you have any further questions, don't hesitate to ask!
Cheers 🍻

[2015-10-11 19:49] #13 closed

[2015-10-11 21:40] y-a-v-a opened #14 "get node-gd to build on travis against node 4"
get node-gd to build on travis against node 4
needs some tweaking

[2015-10-24 02:26] nealrs opened #15 "Cannot find module ......./build/default/node_gd.node'"
Hola,

just updated to stable node v4.2.1 (on El Capitan) and getting an error when installing the package:
![screen shot 2015-10-23 at 10 11 45 pm](https://cloud.githubusercontent.com/assets/1568188/10708362/6eb120d6-79d3-11e5-8885-9afc07710f06.png)

and then when i try to run the example (shown on tonic):

![screen shot 2015-10-23 at 10 09 02 pm](https://cloud.githubusercontent.com/assets/156818

[2015-10-24 11:47] y-a-v-a commented on #15
Hi,
Thanks for reaching out.
Node-gd won't work on tonicdev.com since node-gd depends on a c++ addon that needs to be built based on environment specific dependencies.

Node-gd is dependent on the library libgd2, which is written in C. The c++ code in node-gd (see directory ./cpp/) uses header files from the library to compile itself to an addon which can be used by node.js.
The location of these

[2015-10-24 12:02] y-a-v-a commented on #15
Hi,
Just to get a clearer grasp on the issue: what's the output of `find . -type f -name node_gd.node` from your project root? I.e. to verify wether node-gd actually successfully has been built.
Cheers
Vincent

[2015-11-05 13:49] eknowles commented on #15
It is being installed, but in `/build/Release/` (I have the same issue, I'm not on El Capitan)

![](http://i.imgur.com/8QPpWNt.png)

[2015-11-09 08:29] y-a-v-a commented on #15
Hmm that's a bit strange since on line
https://github.com/y-a-v-a/node-gd/blob/stable/js/node-gd.js#L132
and beyond both optional paths are checked wether node_gd.node resides there...
@eknowles could you post a little more context? (build or runtime error output from the console)?
Would be great.
Thanks
Vincent

[2016-01-18 05:32] akocmark opened #17 "How can I imagecreatefromjpeg()?"
Hi I came from a PHP background and came across your module. It looks like this is the one I am looking for, but do you know how can I imagecreatefromjpeg($template) using this module?

Thanks in Advance!

[2016-01-18 08:57] y-a-v-a commented on #17
Hi,
Thanks for reaching out. I assume `$template` is a filename? Then best you can do is:
[code]
See also: https://github.com/y-a-v-a/node-gd/tree/stable/doc for more examples.
Be aware that currently node-gd does not build on Windows.
Cheers!
Vincent

[2016-02-02 12:37] rodrigospesia opened #18 "Can't install on Debian 7 x64"
I can't install version 1.1.0 in my Debian 7 x64 server, any ideas?
It fails at node-gyp rebuild

[2016-02-02 14:23] y-a-v-a commented on #18
What's the output of the build process?
What's the node version?

[2016-02-24 15:14] y-a-v-a commented on #17
Answered.

[2016-02-24 15:14] #17 closed

[2016-02-24 15:14] y-a-v-a commented on #15
No info received. Closing.

[2016-02-24 15:14] #15 closed

[2016-02-24 15:15] y-a-v-a commented on #7
Not going to happen any time soon. Feel free to fork and try to DIY.

[2016-02-24 15:15] #7 closed

[2016-02-24 15:16] y-a-v-a commented on #9
No plans to get it built on Windows any time soon. Closing.

[2016-02-24 15:16] #9 closed

[2016-02-24 15:17] y-a-v-a commented on #18
No follow up received. Closing.

[2016-02-24 15:17] #18 closed

[2016-02-29 22:51] crudo commented on #14
Hi @y-a-v-a, is there any progress on building node-gd on node 4?

[2016-03-01 07:59] y-a-v-a commented on #14
Hi @crudo, node-gd builds very well on node 4.3.1, even nicely on node 5.7.0. This issue #14 concerns the automated test on Travis, which last October was giving errors. So don't be afraid to install node-gd 1.1.0 on node 4 or node 5, according to my tests, it works great.
Until then, cheers! 🍻

[2016-03-17 12:28] y-a-v-a commented on #14
Fixed in fd1111a4102bf821e9c6d35a9bc5d4e245d2cdbf

[2016-03-17 12:28] #14 closed

[2016-03-22 23:29] quinndiggity commented on #15
I was hit by this as well, was due to libgd2 package being replaced in the ubuntu repos by libgd3 (http://packages.ubuntu.com/source/trusty/libgd2 - oldlibs)

installing libgd3 along with libgd2-xpm-dev resolved the issue for me, submitting a pull request for the README

[2016-03-22 23:40] quinndiggity commented on #15
https://github.com/quinndiggity/node-gd/pull/1

[2016-05-04 19:18] tibsar commented on #7
Please make this happen

[2016-05-04 19:39] y-a-v-a commented on #7
I'll see what I can do...

[2016-05-13 18:50] aleksandr-m opened #19 "Add gdImageStringFTEx function"
https://boutell.com/gd/manual2.0.33.html#gdImageStringFTEx

[2016-05-17 20:13] kolonist opened #20 "node 6.1 - v8::ObjectTemplate::Set() with non-primitive values is deprecated"
After upgrade to node v6 I get the following error:

[code]

It seems that everything is working now, but I'm afraid that it can stop working in near future.

[2016-06-01 21:19] #20 closed

[2016-06-01 21:38] y-a-v-a commented on #20
See my last comment in the PR.

[2016-06-09 20:19] y-a-v-a commented on #19
I noticed `node-gd` lacks some more gdImageStringFT functions, so I'll give this priority, but it still might take a while before it's implemented.

[2016-06-13 22:04] xoseperez opened #24 "Fails installing in CentOS"
I'm receiving this error all the time.

[code]

[2016-06-13 22:19] y-a-v-a commented on #24
Aren't you missing CentOS compile tools? As it says it cannot find g++: `make: g++: Command not found`, you probably need to install build tools. I don't have a CentOS at my disposal so I'd suggest to google for it.

[2016-06-15 09:03] maaljam opened #25 "imageCopy not working"
Behavior: image copy does not work if the two images are different, but it works if image is the same.

I have spend two days to figure out why, but I failed and started to think that this is a bug since it works in some cases only (same image case).

[code]

[2016-06-15 10:14] y-a-v-a commented on #25
Hi, thanks for reaching out.
I've tried to reproduce your error but could not get it. I mean, I don't think this is an error.
[code]

You want to copy the watermark _onto_ a destination image, which is `input` in this case, so you explicitly have to save the destination image, which is `input`. `watermark.copy()` returns `watermark`. The reason for that is that you could chain actions, like so:

[

[2016-06-15 10:14] #25 closed

[2016-06-15 10:15] y-a-v-a commented on #25
I've added a working version of your example code, including assets, to the examples repository:
https://github.com/y-a-v-a/node-gd-examples

[2016-06-15 10:55] y-a-v-a commented on #24
@xoseperez if you have any notable follow up on this, please feel free to comment and reopen.

[2016-06-15 10:55] #24 closed

[2016-06-15 15:22] maaljam commented on #25
Cannot THANK you enough for your time and quick response. I had a wrong assumption that image#Copy returns an image data of the final product of the copy operation, that is why I was saving it instead.

Maybe it is a good idea to include your code above as an example of image#copy section in the main readMe page to show currect use of image#copy:
https://github.com/y-a-v-a/node-gd/blob/stable/doc/

[2016-06-15 15:35] xoseperez commented on #24
I hadn't had time until now. Sorry. But that solved the issue. I should have read it closely.

[2016-06-15 19:03] y-a-v-a commented on #24
Thanks for the response, I'll try to make it more explicit in the documentation.

[2016-06-15 19:04] y-a-v-a commented on #25
Great! It was on my todo-list ;-) I'll try to update the docs asap.

[2016-06-17 23:14] onlineth opened #26 "Transparent background not working"
I've been trying to create transparent background in node-gd but haven't had much success, here's what I have so far but each time I run this, it generates black backgrounds instead of transparent background. Any ideas? I believe this may be an issue.

[code]

Which generates this:

![output](https://i.imgur.com/SxQuFT1.png)

[2016-06-20 21:08] y-a-v-a commented on #26
Hi thanks for reaching out. It took me a while because I wanted to have it clear for myself too. I hope the comments make sense. This is the result:
[code]

So updating your code, it would result in this:
[code]
Your basic mistake was that you were drawing a transparent rectangle on a black background. And since alpha blending is on by default, your transparent rectangle nicely blended with the bl

[2016-06-20 21:10] #26 closed

[2016-06-20 21:15] y-a-v-a commented on #26
You could use the below HTML page to see the effects of the transparent png:

[code]

[2016-06-20 21:46] onlineth commented on #26
Thanks, this works:)

[2016-06-21 23:35] gmemstr opened #27 "gd.openFile is not a function"
This only seems to occur in the 6.2.2 Node.js Docker container. Full source code and stuff is [here](https://github.com/GGServers/MinecraftBanner/tree/v1), works fine under 6.2.2 on my local Arch install.

[code]

[2016-06-22 08:00] y-a-v-a commented on #27
It might be that the Docker environment has a lower version of libgd. You can find that out by calling `gd.getGDVersion()`.

[2016-06-22 08:02] y-a-v-a commented on #27
In order to use the `gd.openFile`, you will need at least libgd version 2.1.1. The other option is to use `gd.openPng` because as your example code shows, you already know it's a .png file.

[2016-06-22 16:08] gmemstr commented on #27
Decided to switch to `gd.openPng`, was using the latest `libgd-dev` package for Debian. Thanks anyways.

[2016-06-22 16:08] #27 closed

[2016-06-22 16:20] y-a-v-a commented on #27
Ok great that it works for you. But I think that it might exactly be the issue. Debian is always a bit behind when it comes to lib versions.

[2016-06-28 08:01] miny02 opened #30 "failing: "node-gyp rebuild""
Just an fyi. :-)

[code]

[2016-06-28 08:14] miny02 commented on #30
This solved it for me:

brew install pkg-config
brew install gd

[2016-06-28 08:17] y-a-v-a commented on #30
Thanks for pointing out. The need of gd and pkg-config is stated in the readme.

[2016-06-28 08:19] #30 closed

[2016-07-05 09:10] y-a-v-a commented on #19
It's on its way, probably another week and the method should be available!

[2016-07-09 12:41] y-a-v-a commented on #19
Just outof curiosity: for what purpose you want to plan to use `gd.Image#stringFTEx()`? As for example the `charmap` option that libgd offers is, imho, quite a bit of a useless feature since unicode/utf8 is considered the standard mostly, right now.

I've created the following API if you'd want to configure _all_ extras:
[code]
The idea is that `gd.Image#stringFTEx()` will return that same object,

[2016-07-13 08:31] aleksandr-m commented on #19
Font hinting.

Tried current HEAD with different hdpi / vdpi and there is slight change in pixels.

Thanks! Looking forward for the release.

[2016-08-04 11:30] guolianghu opened #31 "Is it squareToCircle has BUGS?"
[code]
after do this, test.png is the same as original。
The png size : 256x256,
node-gd ver :  1.3.1
GD ver: 2.1.1

[2016-08-04 11:54] y-a-v-a commented on #31
Hi thanks for reaching out!

Apparently you found a bug! This function has not been documented nor been tested since I maintain this package. It was on my list of low-prio-functions to test. I've made a fix and will hope to release it later today.

Thanks again!

[2016-08-04 11:57] #31 closed

[2016-08-04 12:03] y-a-v-a commented on #31
I think this function was so much in legacy that it only supported a very old implementation of libgd... As said, I hope to release later today, some other minor changes in the pipe-line.

[2016-08-06 19:20] dondreytaylor opened #32 "node-gyp fails because of util.sh check even after dependencies"
I've noticed that even after installing all of the dependencies-- specifically "gd" on an AWS EC2 running Ubuntu 14.04 using the command ```sudo apt-get install libgd2-dev # libgd```, node-gyp throws the following error when using ***npm install node-gd***

[code]

What I decided to do was to clone the entire node-gd repo and comment out everything util.sh leaving only ``echo true``, then proceed

[2016-08-06 20:31] y-a-v-a commented on #32
Hi thanks for reaching out!
I'll take a look into this. It's probably a difference in naming of the library on Ubuntu in comparison to e.g. Mac.

By the way, which node-gd version were you installing?
Thanks in advance.

[2016-08-06 20:57] y-a-v-a commented on #32
Hmm can't seem to reproduce on a fresh Ubuntu install version 14.04.5 LTS... Does this output anything for you?
[code]
Does that produce anything similar to the following?
[code]

[2016-08-08 19:10] dondreytaylor commented on #32
You're welcome!

Okay, so I ran the command

```$ gdlib-config --features```

and here is what I got:

```GD_JPEG GD_FREETYPE GD_PNG GD_GIF GD_GIFANIM GD_OPENPOLYGON```

[2016-08-09 19:00] y-a-v-a commented on #32
OK so it looks like libgd is installed successfully. I think it's a path issue. What's the output of
`$ gdlib-config --all`

I think I need to add the line below to the beginning of `utils.sh` but con only be sure about that when knowing the output of the above. So if you have some time ;-)

`export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/usr/local/lib/pkgconfig`

Thanks in advance!

[2016-08-18 19:27] y-a-v-a commented on #32
I've added a possible solution since I hadn't heard from @dondreytaylor which is part of v1.4.0

[2016-08-18 19:27] #32 closed

[2016-08-18 19:30] y-a-v-a commented on #19
@aleksandr-m yay! v1.4.0 should have a complete working gd.Image#stringFTEx
Please keep reporting any findings, I'll try to fix them as soon as possible. Success!

[2016-08-18 19:30] #19 closed

[2016-08-18 19:35] y-a-v-a commented on #31
@guolianghu fixed in new release which is just out! v.1.4.0 see: https://www.npmjs.com/package/node-gd

[2016-08-23 13:01] PatrickQuintal opened #33 "Functions produce error when float is passed when argument expects int"
I think a better behaviour, instead of just erroring, is to simply perform a cast?

Its quite cumbersome to have to `Math.round()` every time you pass a variable into the functions and breaks away from the whole idea of Javascript being loosely typed.

Let me know what you think. It seems like the change would just slot into

[https://github.com/y-a-v-a/node-gd/blob/stable/cpp/node_gd.cc#L79](url)

[2016-08-23 14:53] y-a-v-a commented on #33
Just out of curiosity, in which situation do you run into this? E.g. which methods?

[2016-08-24 03:46] PatrickQuintal commented on #33
Copy, stringFT, stringFTBOX, (I'm pretty sure any function which uses REQ_INT_ARG)

The use case is this;

A Client gives a non-divisible by 2 asset. We must find the centre of the asset to place some text, (So `width/2`) and you lazily use that in your calculations* without rounding before hand.

I think its fine to accept node-gd to round for you because its either the developer does it themselv

[2016-08-30 07:31] ivanatora opened #34 "img.filledArc() expected 8 arguments, only 7 listed in the docs"
So, I can use img.arc() fine, but if I change it to img.filledArc() with the same parameters, it hangs the app. Nothing is returned and code execution stops there.

If I try to catch the error, I get `[Error: Expected 8 arguments]`. The documentation states only 7 arguments. Looking at http://php.net/manual/en/function.imagefilledarc.php it seems the last argument is the fill style. It will be goo

[2016-08-30 07:38] y-a-v-a commented on #34
Hi thanks for reaching out!
On first sight this looks like a bug indeed. I'll take a look into this as soon as possible.

Cheers 🍺
Vincent

[2016-08-30 08:27] y-a-v-a commented on #34
A working example:
[code]

The eighth parameter is a bitwise OR of styles, see also https://github.com/libgd/libgd/blob/4143073c889d36caa421b9ae0d7e71ec500585e7/src/gd.h#L1024

I will update the documentation!
Thanks for reporting this.

[2016-08-30 08:36] ivanatora opened #35 "stringFTBBox() return elements"
Hi again,

This is more like a discussion than an issue. stringFTBBox() currently according to the docs returns 8 (!) elements: [xll, yll, xlr, ylr, xur, yur, xul, yul]. Is there really a need for all 8 elements? Can the bounding box be anything else than a rectangle? If it is always rectangle, we need only 4 elements - x, y, width and height. I think it would make the API a bit more clear.

Regar

[2016-08-30 08:37] ivanatora commented on #34
Excellent, thank you! :)

[2016-08-30 09:09] y-a-v-a commented on #35
Hi thanks for reaching out again.
This is due to the fact that gdImageStringFT supports an angle. So if the text is turned like 40 degrees, you would like to have the exact coordinates for the bounding box. I think your suggestion would need more calculations on the JS side, while now it is done by libgd.
Cheers,
Vincent

[2016-08-30 09:57] #34 closed

[2016-08-30 10:28] ivanatora commented on #35
Ah, I see now. If the text box can be rotated then it won't go with only 4 elements. Closing this one.

[2016-08-30 10:28] #35 closed

[2016-08-31 07:53] y-a-v-a opened #36 "Prepare for github pages"
- Change branch name from `stable` to `master`
- Set `master` as default branch
- Change repository configuration to prepare for github pages.

[2016-10-27 06:01] Sebosek opened #38 "Generate image and send back as image stream"
Hello,

how can I send generated image back to client and avoid to save image to disk and read it again?
Thank you.

S.

[2016-10-27 07:55] y-a-v-a commented on #38
Hi thanks for reaching out, I will give you an example later today. In short, you can use `gd.Image#jpegPtr`. Take a look at this page in the mean time ;-)
https://github.com/y-a-v-a/node-gd/blob/master/docs/index.md#saving-graphic-images

[2016-10-27 09:04] Sebosek commented on #38
Not needed, thank you.

[code]

[2016-10-27 09:04] #38 closed

[2016-11-21 12:18] magicdawn commented on #38
[code]

You know, Buffer in the std is we like, How to get a Buffer instance ?

[2016-11-21 12:24] magicdawn commented on #38
Thanks to @Sebosek , I got answer

[code]

[2016-11-25 13:54] skeddles opened #39 "Sending image to client results in image that cannot be displayed"
I'm using express and trying to send the created image to the client (preferably without saving to disk).

[code]

When trying to load the page I get "The image cannot be displayed because it contains errors."

[2016-11-25 14:59] y-a-v-a commented on #39
See #38: you can use `res.end(data, 'binary')`.

[2016-11-25 15:04] skeddles commented on #39
Thank you very much, that worked! Might be worth throwing an example of that into the docs.

[2016-11-25 15:04] #39 closed

[2017-01-06 23:24] Madd0g opened #41 "Creating a PNG from RGBA array"
Hi,

Is it possible to load a buffer of rgba values with one command? Right now I do `gd.createTrueColor` and then `image.setPixel(x, y, gd.trueColorAlpha(r, g, b, a));` for every pixel.

Thanks

[2017-01-09 08:04] y-a-v-a commented on #41
Hi @Madd0g, thanks for reaching out! Could you elaborate a bit more on the context? Why would you go over all pixels and give them a color? You can also draw a square the size of the canvas and set a basic transparent background color and draw upon that. Or am I missing the core of your question?
Cheers,
Vincent

[2017-01-09 18:54] Madd0g commented on #41
The pixel data I have is actually an image (captured from a screen buffer), not just colored pixels, it's a large array of ARGB values that I add manually one by one to the PNG. I was wondering if it can be done by passing the entire array instead of drawing one pixel at a time.

[2017-01-10 08:23] y-a-v-a commented on #41
And this array of ARGB-values, can't you create a node Buffer from it? Maybe like with `Buffer.from(yourArray)` (see [here](https://nodejs.org/api/buffer.html#buffer_class_method_buffer_from_array))
Then you can pass it directly to `gd.createFromPngPtr(data)` and then you'll have an image object which you can easily save.

[2017-01-11 01:14] Madd0g commented on #41
I do have the data as an ArrayBuffer, but I had no idea `createFromPngPtr` worked with anything but actual PNG data (I'm new to graphics processing, have no idea what's the difference).

I'll try it soon, thank you

[2017-02-22 11:49] NachtRitter opened #42 "Alpine Linux support"
Which environment-specific build tools shoud be installed on Alpine Linux?
I tried install make gcc python g++ gd-dev, but I get error during node-gyp build
[code]

[2017-02-23 09:24] y-a-v-a commented on #42
Hi thanks for reaching out.
I see you use node-gd@1.2.0. I'd suggest to first try to use node-gd@1.4.0 which is the latest version. If build problems still occur, please let me know!
Cheers,
Vincent

[2017-02-27 19:11] NachtRitter commented on #42
@y-a-v-a , thanks for your advice. I missed that my shrinkwrapped version was 1.2.0.
All finished fine for v1.4.0. So you may add to README that for Alpine Linux packages make gcc python g++ gd-dev are required:
`apk add --no-cache make gcc python g++ gd-dev`

[2017-03-07 20:47] y-a-v-a commented on #42
I'll see what I can do. Thanks for the update!

[2017-03-07 20:47] #42 closed

[2017-03-20 10:22] Sebosek opened #43 "How to write japanese symbol 零"
Hi there,

I'm using Noto Sans as font family and this font covers all almost all characters over the globe, Japanese included. How can I write 零 (symbol for zero) into an image?

[code]

But I am ending with the unrecognized symbol...
![download](https://cloud.githubusercontent.com/assets/372542/24095881/66535b9a-0d5f-11e7-815e-979f33c47476.jpg)

[2017-03-21 08:43] y-a-v-a commented on #43
Hi thanks for reaching out! It's hard to see from your code snippet, but is the variable `font` an absolute path to the font file?
Cheers,
Vincent

[2017-03-21 10:36] Sebosek commented on #43
Correct. When I try to use regular characters, all goes well.
Here is complete snippet.

[code]

[2017-03-21 14:23] #43 closed

[2017-03-22 11:19] y-a-v-a commented on #43
Hi @Sebosek, no problem. Thanks for clarifying!
Cheers,
Vincent

[2017-03-22 17:45] scarabdesign opened #44 "Getting 22 warnings about NewInstance const being deprecated"
Using Node 6.10.0 and Node-gyp 3.3.1

-> node-gd@1.4.0 install /home/sean/dev1_node6/moth/node_modules/node-gd
-> node-gyp rebuild

make: Entering directory '/home/sean/dev1_node6/moth/node_modules/node-gd/build'
  CXX(target) Release/obj.target/node_gd/cpp/addon.o
In file included from ../cpp/node_gd.cc:27:0,
                 from ../cpp/addon.cc:3:
../cpp/createworker.cc: In member function ‘vir

[2017-03-23 01:45] CreativeCactus opened #45 "Just to let you know, npm page points to /doc, not /docs"
That's all :)

[2017-03-23 11:19] y-a-v-a commented on #45
Thanks for reaching out! I haven't published to NPM after I changed that in commit 01b764e0bf5e594caf25588b598327365658e011

I'll publish somewhere soon a new version with correct paths. Thanks!
Regards, Vincent

[2017-03-23 11:20] y-a-v-a commented on #41
Hi @Madd0g any progress on this issue?

[2017-03-23 11:23] y-a-v-a commented on #44
Hi @scarabdesign thanks for reaching out. I will dig into this soon and report back to you.
Regards, Vincent

[2017-04-05 23:14] scarabdesign opened #46 "Error loading built node-gd"
Updating my package.json with the master branch of node-gd builds just fine now (improvement from deprecation warnings [[Issue 44](https://github.com/y-a-v-a/node-gd/issues/44)]), however when I try to run it, i'm getting an error:

`/home/sean/dev1_node6/matzah/node_modules/node-gd/build/Release/node_gd.node: undefined symbol: _ZN2Gd5Image4TiffERKN3Nan20FunctionCallbackInfoIN2v85ValueEEE
Cannot f

[2017-04-05 23:14] scarabdesign commented on #44
Great! Seems to build now when pointing to the the mater branch. Will you update the version?

[2017-04-06 05:41] y-a-v-a commented on #44
Hi, yes it builds now indeed, since I updated usage of some functions more according to https://github.com/nodejs/nan
Downside indeed is that in some cases it still fails no including node_gd.node

[2017-04-06 05:42] y-a-v-a commented on #46
Hi thanks for reaching out,
I'm currently working on this, since I have not yet found the root cause. First I thought it was libgd-version-related, but now I think it's Mac OSX-version related. I have one laptop on which node-gd runs smoothly, on the other it does not. I will keep you posted here.
Cheers,
Vincent

[2017-04-06 12:45] Madd0g commented on #41
really sorry, I switched to another library back then and never found time to re-test, I still have the code that uses node-gd and will get around to testing it at some point in the future to compare performance to my current solution.

[2017-04-06 17:16] scarabdesign commented on #46
Excellent! Thanks for looking into it.
FYI: Here is my platform:
$> cat /proc/version
Linux version 3.16.0-4-amd64 (debian-kernel@lists.debian.org) (gcc version 4.8.4 (Debian 4.8.4-1) ) #1 SMP Debian 3.16.39-1+deb8u2 (2017-03-07)

[2017-04-06 20:35] scarabdesign commented on #46
So, I got your master branch to run! But, it took updating libgd to 2.2.4 from source
`wget https://github.com/libgd/libgd/releases/download/gd-2.2.4/libgd-2.2.4.tar.gz`
`tar -xzvf libgd-2.2.4.tar.gz`
`cd libgd-2.2.4/`
`./configure`
`make`
`sudo make install`
Not sure what this means exactly, but the version prior to installing from source was 2.1.0. Feel free to ask any other questions about the

[2017-04-06 20:51] #46 closed

[2017-04-06 20:56] y-a-v-a commented on #46
Yes indeed upgrading to libgd 2.2.4 fixes this descriptor issue. I had an error in the code that checks for the libgd version. It was defining a c++ method somewhere while it shouldn't. The upcoming release will break usage of tiff related functions when on libgd lower than 2.2.4. Since libgd has fixed an issue regarding opening tiffs per version 2.2.4, you will need that version if you want to ta

[2017-04-06 21:04] y-a-v-a commented on #45
Just published version 1.5.0 to npm which fixes this issue.

[2017-04-06 21:04] #45 closed

[2017-04-06 21:04] y-a-v-a commented on #44
Just published version 1.5.0 to npmjs.org which fixes the above issue.

[2017-04-06 21:04] #44 closed

[2017-04-06 21:09] y-a-v-a commented on #36
https://y-a-v-a.github.io/node-gd/ is available so it fixes this issue.

[2017-04-06 21:09] #36 closed

[2017-04-06 21:28] y-a-v-a commented on #46
So I published 1.5.0! If you want to open and save tiff files, you should indeed upgrade libgd to version 2.2.4. If not, you can stay at a lower version of libgd. If you're using homebrew or macports, it is fairly easy to upgrade to libgd@2.2.4. Other platforms I have not checked.

[2017-04-06 22:24] scarabdesign commented on #46
Awesome! I removed/purged 2.2.4 and installed the regular distro package:
`sudo apt-get install libgd2-dev`
...updated to 1.5.0 of node-gd, and it builds and runs fine with no issues. Thanks a lot!

[2017-07-04 13:39] wulfgarpro opened #47 "Base64 encode png buffer"
I'd like to:
* Open a png image
* Merge this png with an overlay png
* Encode the merged result buffer as a base64 string

My test code:

[code]

Why am I getting a null return on the gd.createFromPngPtr call?

Playing around with the examples in the documentation, the following snippet core dumps:

[code]
**With node v6:**
_$ nvm list
->      v6.11.0_

**With node v8:**
_$ nvm list
        v6.11.

[2017-07-04 21:39] y-a-v-a commented on #47
Hi,
First of all, thanks for reaching out! Second: your example code looks like it has an error, afaics:
[code]

Also, the core dump comes probably from the fact that you're feeding img.pngPtr with a Number instead of a String or Buffer.
[code]

[2017-07-04 22:06] y-a-v-a commented on #47
Hi,
Sorry for my last comment, the number of course represents the quality.

Next to that, what you're actually trying to do in the first code block of your comment is to get a base64 representation of a node-gd gd-object, which will fail since it's not a String. Let me explain in the code:

[code]

The solution is simpler than you might think:
[code]
See also https://nodejs.org/dist/latest-v6.x/d

[2017-07-04 22:52] wulfgarpro commented on #47
@y-a-v-a, thanks for the prompt reply.

Fixed (late night copy paste error).

Less the _latin1_ argument (the key to the solution!), the default _utf8_ encoded buffer results in an invalid base64 string (this is the original reason why I started making changes); I'm not sure why?

Actually, I've taken the _latin1_ argument away in your example and replaced it with _binary_ and it's still working;

[2017-07-04 22:52] #47 closed

[2017-07-06 09:10] y-a-v-a commented on #47
True, since the documentation of nodejs (see https://nodejs.org/dist/latest-v6.x/docs/api/buffer.html#buffer_buffers_and_character_encodings ) says:

[2017-07-09 09:26] wulfgarpro commented on #47
I see; why is it latin1 encoded string is required to base64 encode a png correctly?  Why doesn't the utf-8 encoded variant not valid as a base64 encoded string?

[2017-07-09 23:55] wulfgarpro commented on #47
Why does _latin1_ work?

Why am I required to encode the `pngPtr()` as _latin1_ in order for the base64 encoded string to be correct?

As an example:

Playing with `Buffer` and a png file, I can successfully encode the buffer as the default UTF-8 and the base64 encoded string is valid.

[code]

But as we've touched on above, this isn't the case for the pngPtr().

[2017-07-21 18:23] Sunlis opened #48 "Install fails on Ubuntu machine"
I had no issues installing this package in my local Ubuntu VM (running Ubuntu 16.04), but for some reason, when trying to install on my server (also Ubuntu 16.04) it fails. I've installed `libgd2-dev`, as stated in the README.

Running `npm install node-gd` gives the classic, wonderfully-useless error:
[code]

npm-debug.log can be found [here](https://gist.github.com/anonymous/e07ddefdfa262cf8b9a3

[2017-07-22 06:42] Sunlis commented on #48
Solved this by upgrading node. I was running an old version (4.x.x). Upgraded to 6.11.1 and install worked first try.

[2017-07-22 06:42] #48 closed

[2017-07-24 07:38] XadillaX opened #49 "gd.openFile returns no error with null"
[code]

But filename actually is a picture filename.

[2017-08-08 11:18] y-a-v-a commented on #49
Hi thanks for reaching out. Sorry for the late reply, I was on holidays i.e. not able to respond to any issues. I'll take a look as soon as I have time.

[2017-09-12 20:44] bsansone opened #50 "Passing .png encoded as .jpg does not throw error"
Was sent a .jpg image, needed it .png. When downloading the image from Gmail, set format to `All Files`:

![screen shot 2017-09-12 at 3 38 27 pm](https://user-images.githubusercontent.com/16868336/30347081-7f9356f4-97d0-11e7-84fa-f9dc41a02f12.png)

Changed extension from .jpg to .png:

![screen shot 2017-09-12 at 3 38 35 pm](https://user-images.githubusercontent.com/16868336/30347138-af4f7ddc-97d0

[2017-09-17 10:48] y-a-v-a commented on #50
Hi thanks for reaching out and sorry for my late reply.
I could see if it's possible to do a check wether there's actually image data to act upon when someone tried to open e.g. a jpg with `gd.openPng()`.
I understand from your comment you would have preferred to be informed earlier that the assumed png is not a png, right?
I'll see what I can do in the upcoming weeks.
🍻 Cheers! Vincent

[2017-09-17 10:49] y-a-v-a commented on #49
@XadillaX do you have an example image that caused this?

[2017-10-07 09:39] Mifayo opened #51 "squareToCircle not working"
i want to crop an image to circle
i create transparent image i squareToCircle my image and i copy it to the one i created but it's not working

[2017-10-08 19:49] y-a-v-a commented on #51
Hi @Mifayo thanks for reaching out. As far as I can see, squareToCirlce just woks. It's a synchronous function which returns a new image, so you'll have to do something with the resulting image. Be aware that you should supply a radius. If radius is 100 for example, the resulting image will be 200x200 px in size. The below snippet works afaics.
[code]

Cheers! 🍻

[2017-10-09 08:34] Mifayo commented on #51
hello @y-a-v-a thanks for answering me
i tried the code u gave me but it gaves me an error
---------------
TypeError: Cannot read property 'saveFile' of null

[2017-10-10 10:18] Mifayo commented on #51
it works but don't crop circle it ruin the image

[2017-10-10 12:24] y-a-v-a commented on #51
Indeed it doesn't crop the image, it wraps a square image into a circle. The function isn't called: cropSquareToCircle. node-gd is a wrapper around libgd2. There it says: `Apply polar coordinate transformation to an image.` See [here](https://github.com/libgd/libgd/blob/40bec0f38f50e8510f5bb71a82f516d46facde03/src/gdfx.c#L292). As far as I know, there's no circular crop functionality in libg2. You

[2017-10-10 12:24] #51 closed

[2017-10-12 11:24] y-a-v-a commented on #49
Too long no response so assuming no longer an issue.

[2017-10-12 11:24] #49 closed

[2017-10-21 04:26] haegul opened #52 "Failed Installation on MacOS"
Hello. I installed node-gd recently on MacOS Sierra(10.12.6). But Installation was failed.
This is NPM installation logs. (NPM Version 5.4.0)
[code]
So I tried to sudo command together.

[code]
I solved installation problem using yarn, ```yarn add node-gd```. It is fine. But, yet I don`t install using NPM. I guess ```node-gyp rebuild``` command include permission issue.

Thanks.

[2017-10-21 04:43] haegul opened #53 "How to center align text using node-gd"
Hello. I use node-gd for development some image processing project. I have a question for dev.

I want to composite multiple texts on some image. And Also the text is aligned center. but ```gd.Image#stringFT(color, font, size, angle, x, y, string, boundingbox)``` doesn't support text align.
I want multiline text align like [gd-text](https://github.com/stil/gd-text) ```setTextAlign('center', 'cente

[2017-10-23 10:52] y-a-v-a commented on #53
Hi, thanks for reaching out. I will try to find some time to see if it's worth implementing something like that. But just to let you know: in the code behind the php-gd link you supplied you can see the solution they implemented. Basically they just do some maths on the bounding box. This is something you potentially could do in your JS too, of course.
https://github.com/stil/gd-text/blob/b395fef9

[2017-10-23 10:57] y-a-v-a commented on #52
Hi, thanks for reaching out. First of all, you should not necessarily need to install anything nodejs-related as root. See for details: https://docs.npmjs.com/getting-started/fixing-npm-permissions
Apart from that, the issue you encountered could be thrown by the call to `pkg-config` in the util.sh script that node-gd utilizes. And it could be that exactly that call _should_ actually be called by

[2017-10-23 10:57] #52 closed

[2017-10-23 14:36] haegul commented on #52
I already try it. But still having problem.
Anyway, I solved this issue using yarn. Thank you for answer.

[2017-10-23 14:40] haegul commented on #53
Thank you for answer. I will try it! After, I hope node-gd support high API functions like gd-text. (I want to be treated as a subproject later on.)

Cheers!

[2017-12-06 10:03] arslbbt opened #54 "how i can resize image with node GD"
how i can resize image with node GD

[2017-12-06 10:06] y-a-v-a commented on #54
Hi @arslbbt, thanks for reaching out!
The best way to resize an image with node GD is to copy the source image upon a target image. I will paste example code in a few minutes here.
Cheers Vincent

[2017-12-06 10:13] arslbbt commented on #54
ok please send me asap

[2017-12-06 10:17] y-a-v-a commented on #54
Hi @arslbbt well you should be happy that I'm available. This is an issue tracker and not a help desk. Feel free to take a look at the rather extensive documentation which covers a lot of topics: https://y-a-v-a.github.io/node-gd/

That being said, here's some example code.

[code]

Next time, don't expect me te respond that quickly, you're lucky.
Regards, Vincent

[2017-12-06 10:17] #54 closed

[2017-12-06 10:20] y-a-v-a commented on #41
Long time no hear, therefore closing.

[2017-12-06 10:20] #41 closed

[2017-12-06 10:21] y-a-v-a commented on #53
Hi, well I guess I won't support more than libgd2 itself supports. If you would want to have more higher level functions, please checkout easy-gd for example.

[2017-12-06 10:21] #53 closed

[2017-12-06 10:24] arslbbt opened #55 "is there any option to keep proportions when resizing image via copyResized"
is there any option to keep proportions when resizing image via copyResized

[2017-12-06 10:25] y-a-v-a commented on #55
No you should calculate that yourself.

[2017-12-06 10:25] #55 closed

[2017-12-10 19:36] marcus-sa opened #56 "Windows support"
How come this library doesn't build on Windows?
Because [libgd](https://github.com/libgd/libgd/tree/master/windows) clearly does support Windows

[2017-12-10 21:58] y-a-v-a commented on #56
Hi, thanks for reaching out!
Sure libgd2 indeed clearly does support Windows. But since I took over maintenance I have not had the time nor the tools (i.e. some computer with Windows) to try to get it running on Windows. Currently the build process is very much posix oriented, but with some tweaks I think it should be able to get it built on Windows, but I wouldn't know how. Sorry. Please feel fre

[2017-12-12 17:28] marcus-sa commented on #56
I've managed to find a solution to this problem.
I haven't tried it myself, but looks like some others had it working:
https://stackoverflow.com/a/31125767

[2017-12-12 18:04] y-a-v-a commented on #56
Looks nice! I will try to make a branch and incorporate the steps mentioned and see if I can get it to build somewhere. If it works, it might end up in master.
Thanks for the link!

[2017-12-16 00:10] marcus-sa opened #57 "node-gd equivalent of PHP imagecolorsforindex"
I'm enjoying this library so far and have found it very useful to my project.
But I'm at a stage where this library is lacking the only function I need to finish it up.

I have a set of images that are white and some that are statically colored which are not supposed to be recolored. The sets contain from 1-5 images, and some of them can be color-able by the user.
Currently when I try to recolor a

[2017-12-18 08:56] y-a-v-a commented on #57
Hi thanks for reaching out, sorry for the late reaction. I was looking around in the libgd codebase and found some methods which I did not expose in this module. See: https://github.com/libgd/libgd/blob/master/src/gd.h#L167

If I have time the upcoming weeks, I might be able to expose them to JS. The other option could be that you use the logic from libgd and implement those functions in your own

[2017-12-21 01:25] marcus-sa commented on #57
Sadly I wasn't able to implement them myself :disappointed:
By any chance you'll add the feature when you have time? :smile:

[2017-12-21 09:54] y-a-v-a commented on #57
Hi, I meant you might be able to solve it temporarily in JS, something like:
[code]

[2017-12-21 09:58] y-a-v-a commented on #57
That being said, I will see what I can do next weeks.

[2018-01-19 02:12] sizkein opened #58 "how i can image resized?"
Is copyResized working correctly?

[2018-01-19 02:27] #58 closed

[2018-01-19 08:05] sizkein commented on #57
[code]
getTrueColorPixel does not load the x, y coordinates 0.

[2018-01-19 08:08] sizkein commented on #57
[code]
I think it should be bigger than -1.

[2018-01-19 08:11] sizkein opened #59 "getTrueColorPixel(0, 0) Can not load coordinates"
[code]
I think it should be bigger than -1.

[2018-01-21 12:02] y-a-v-a commented on #59
Hi @sizkein  thanks for reaching out, and good finding. I overlooked it, sorry! A patch will be out later today, probably as version 1.5.3
Cheers! 🍻 Vincent

[2018-01-21 12:16] y-a-v-a commented on #59
Release 1.5.3 is out! It should fix this issue.

[2018-01-21 12:16] #59 closed

[2018-01-31 16:26] Dan-baker opened #60 "Cropping image loses transparency"
When attempting to crop an image using:
`var out_img = in_img.crop(0,0,in_img.width,in_img.height/2);`
The resulting out_img will have lost the transparency from in_img. Playing around with saveAlpha options on both the in_img and out_img seems to have no effect.

[2018-01-31 21:24] y-a-v-a commented on #60
Hi @Dan-baker, thanks for reaching out.
That's quite an interesting finding, I must say. It clearly has to do with libgd itself, instead of with node-gd. Node-gd only passes a src and dest image to libgd, which handles the cropping. As for true color images, there possibly seems to be a bug there. A workaround which I found out is this:

[code]
Ignore my mix of ES5 and ES6, I was just trying to fi

[2018-02-01 09:04] Dan-baker commented on #60
Good morning, @y-a-v-a. Firstly, thanks so much for such a quick response and assistance. I have independently come to the same conclusion regarding the use of `copy` as a workaround to the issue. The fact that one can use negative numbers in the dx and dy means that it can also be used for cropping off the top & left sides of the image if required.
I have a working solution for my requirements no

[2018-02-04 19:23] y-a-v-a commented on #60
Hi @Dan-baker thanks for your reply. As you can see I posted an issue at libgd's github repo and they acknowledged your remark as a bug, which has been fixed. I have no clue when they will release the fix, their release cycles aren't quite frequent... Until then, best is to stick to your own alternative. And thanks for helping OSS! I will add a remark to the documentation, by the way.
Regards, Vin

[2018-02-04 19:23] #60 closed

[2018-02-12 23:40] marcus-sa commented on #57
I still don't get how I am supposed to add and get the alpha channel.

[2018-02-21 08:55] y-a-v-a commented on #57
Hi @marcus-sa , sorry for the late reply. Getting the alpha value of a color can easily be done with the `alpha` function.

[code]

[2018-02-21 09:12] y-a-v-a commented on #57
Side note:
`imagecolorat` is a PHP-specific function which landed for some reason in node-gd, but in node-gd, the same result can be obtained by using either `image.getTrueColorPixel` or `image.getPixel`.

In PHP, `imagecolorsforindex` returns an array of rgba values for a color "index". In node-gd you'd do something like:
[code]

There is no function in node-gd that returns an array with the colo

[2018-03-02 13:28] exander77 commented on #56
Do anybody have precompiled version of node-gd for Windows? I need to run some code with node-gd on Windows machine.

[2018-03-06 15:12] enricopiovesan opened #61 "Multiline text"
Hi, I'm trying to display a string in two lines, what the best way to do that?

Thanks

[2018-03-22 12:55] Mifayo opened #62 "library an't support some language like arabic"
i have a app who screens some images with text
but i when lang is arabic it scans text like [????????????]
any help here

[2018-03-22 19:10] y-a-v-a commented on #62
hi thanks for reaching out. Have you verified wether the font you are using supports arabic characters? Regards Vincent

[2018-04-10 14:52] y-a-v-a commented on #62
@Mifayo any progress on this? Is this still an issue or was it solved by using a richer font?

[2018-04-15 19:15] y-a-v-a commented on #62
Too long no response, so closing...

[2018-04-15 19:15] #62 closed

[2018-04-20 03:03] JiaLe1 opened #63 "support open Src ？"
Hi, I'm trying to open image from Src, what the best way to do that?

Thanks

[2018-04-23 07:07] y-a-v-a commented on #63
Hi, @JiaLe1, what do you mean with 'from Src'?

[2018-04-23 07:29] JiaLe1 commented on #63
Yeah, I write this code expect open someone image.
like this:

var gd = require('node-gd');
gd.openFile('https://images/xx.png', function(err, img) {
  if (err) {
    throw err;
  }
}

[2018-04-23 07:41] y-a-v-a commented on #63
Hi, @JiaLe1
You will first need to retrieve it via the standard http(s)-API of node, then store the image data in a Buffer and pass that to node-gd to do something with it. You could use `http.get`, as described here: https://nodejs.org/docs/latest-argon/api/http.html#http_http_get_options_callback and use a buffer to store the response asynchronously, then when http fires 'end' event, then pass t

[2018-04-23 07:54] JiaLe1 commented on #63
You are a great guys. Thanks for you.

Cheers

[2018-04-23 08:01] #63 closed

[2018-04-23 08:04] y-a-v-a commented on #63
thanks!

[2018-04-29 01:07] pananahaakna opened #64 "webp support?"
Any hope for *.webp support? Comparable to *.gif for editing/animation? I believe libgd supports it. Willing to donate some $ to get it done if needed (am poor tho :/ ) Thanks either way!

[2018-05-03 02:50] pananahaakna commented on #64
Heya! Thanks for getting back to me so quickly! Yes, I was able to create an image and save it as a *.webp without much trouble. The issue that I'm wondering about was if there were *.webp counterparts to functions like `gd.Image#gifAnimBegin`, etc. are since these aren't documented, but I'm looking over the libgd documentation and I think it only supports static *.webp images as well, so I don't

[2018-05-03 20:09] y-a-v-a commented on #64
Hi @pananahaakna the only alternative I can think of is to install the gif2webp converter from here https://developers.google.com/speed/webp/docs/gif2webp and let your NodeJS code kick that off to transform the gif to animated webp.

[2018-05-07 11:07] Mifayo commented on #62
sorry about late response
i didn't have time to test it
i'll try this days and will give you my feedback

[2018-05-17 08:53] manuaranda opened #65 "CreateFromGif dont working!"
Hi,

im using "gd.createFromGif()" and similars functions, but my image.gif, its static and dont move. How can I create an animated gif, from a opened gif?

Thx!!!!

[2018-05-17 11:47] y-a-v-a commented on #65
Hi, thanks for reaching out.
As I understand from your remark, and correct me if I'm wrong, you're trying to open an animated GIF and modify it? As per this issue in the libgd repo (of which node-gd is a NodeJS wrapper / binding), that is not possible: https://github.com/libgd/libgd/issues/396. Currently I have no idea how to get multiple frames from an animated GIF.
Regards,
Vincent

[2018-07-11 10:58] Mifayo commented on #62
Hi sorry for being late i was working on big project so i didn't have the time
now i did try your solution but it flips the word
example:
فيصل
become
ل ي ص ف

[2018-07-12 07:15] y-a-v-a commented on #62
Hi, thanks for reaching out again.
I've been looking into this and I doubt whether it's an issue with node-gd, and rather an issue for libgd. I've been reading their code responsible for character rendering here: https://github.com/libgd/libgd/blob/748578ff3fa4b636513373f0613e158b930f3ed4/src/gdft.c but I do not understand how and if it would render rtl-scripts correctly. FreeType on the other han

[2018-07-12 22:10] nikoskip opened #66 "Running on AWS Lambda"
Hi,

I'm trying to run `node-gd` on Lambda but I'm getting this error:

On my local I had to install `gd` and `pkg-config` using brew and it works as expected.

I found the same issue with `node-canvas` but they are supporting Lambda. It needs more steps, but nothing complicated: https://github.com/Automattic/node-canvas/wiki/Installation%3A-AWS-Lambda

It's possible to the same with `node-gd`?

T

[2018-07-13 16:48] nikoskip commented on #66
I answer myself: yes, it's possible! 👍

I went through the [node-canvas guide](https://github.com/Automattic/node-canvas/wiki/Installation%3A-AWS-Lambda) and the only difference is in this case is I needed to copy `libgd.so.2` and `libXpm.so.4` to my `./lib` directory.

Hope this helps someone :)

[2018-07-23 08:47] #66 closed, assigned to nobody

[2018-07-23 08:48] y-a-v-a commented on #61
Hi thanks for reaching out, sorry for my late reply. What about adding a newline explicitly `"\n"` in your string? Regards, Vincent

[2018-11-21 03:44] DuJiming commented on #30
The same error, neither yarn nor npm can work

[2018-11-21 08:07] y-a-v-a commented on #30
As stated in the readme and in a comment by @miny02 here above: node-gd is dependent on libgd and pkg-config. You will need to install these also.

[2018-11-25 22:06] skeddles opened #67 "cropAuto(1) does nothing"
This should crop an image by the transparency according to the docs. No matter what I do, it always comes out the exact same. I tried it with a generated mockup from a web service as well as a test PNG I made in photoshop, but both have the same result.

[code]
test images:
![test](https://user-images.githubusercontent.com/2721332/48985320-3227c400-f0d4-11e8-86f5-31134904a145.png)
![test 3](https:

[2018-11-25 22:06] skeddles commented on #50
I also just spent half an hour trying to figure why loading my png was coming up null (it was a jpg I saved at a .png)

[2018-11-27 08:58] y-a-v-a commented on #67
Hi thanks for reaching out. As I'm maintaining this in my free time, I have to see when I can take a look into this, but I will. Hang on ;-) Cheers, Vincent

[2018-11-27 10:15] y-a-v-a commented on #67
Hi, following up on this: as I recall, the issue with cropping a transparent png is an issue with libgd, see:
https://github.com/libgd/libgd/issues/432 and #60. I do not exactly know whether libgd has shipped this fix. An alternative could be to first draw a white background on an new canvas, draw the transparent png on top of it, then crop it and save it. The result will be having a bit of white

[2019-01-11 06:00] alanfernando93 opened #68 "undefined symbol: gdImageCreateFromPngPtr"
Hi.
when wanting to draw in png format I get the following error
undefined symbol: gdImageCreateFromPngPtr

I've searched everywhere but I can not solve

[2019-06-26 04:06] sunshineroper opened #69 "Error Ubuntu 18.04.2"
[code]
[code]

[2019-06-26 09:07] y-a-v-a commented on #69
Hi, I assume you are concluding the installation failure is due to the Ubuntu version. I will see what I can do. Cheers, Vincent

[2019-06-26 09:50] sunshineroper commented on #69
I tried under 14.04 thank you!

[2019-06-26 09:50] #69 closed

[2019-07-04 18:34] buraktamturk opened #70 "npm install fails on nodejs version 12.5"
Hello,

I am having this exception while installing node-gd. The operating system is MacOS Mojave. NodeJS version is 12.5.0 and I have installed pkg-config and gd via homebrew.

Is there anything that I miss? or is the library incompatible with the NodeJS 12?

[code]

[2019-07-06 13:02] ThomasDelap opened #71 "Ubuntu: Unable to locate package libgd2-dev"
Hi,

I'm trying to install libgd2-dev with "sudo apt-get install libgd2-dev"
But i've got this issue :

[code]
Thanks

[2019-07-06 14:31] #71 closed

[2019-07-07 21:35] y-a-v-a commented on #70
Thanks for notifying, I haven't tested node-gd against node.js 12 yet. Will do so somewhere the upcoming weeks and might release a new version of node-gd.
Regards,
Vincent

[2019-07-07 21:36] y-a-v-a commented on #67
Assuming answered, so closing.

[2019-07-07 21:36] #67 closed

[2019-07-07 21:36] y-a-v-a commented on #61
Assuming solved as no reply for almost a year.

[2019-07-07 21:36] #61 closed

[2019-07-07 21:37] y-a-v-a commented on #65
Assuming answered. Closing ticket.

[2019-07-07 21:37] #65 closed

[2019-07-07 21:38] y-a-v-a commented on #68
Probably your build of libgd2 is missing PNG support, either try reinstalling libgd2 or explicitly install its PNG dependency first.

[2019-07-07 21:39] y-a-v-a commented on #57
Too long no reaction, closing

[2019-07-07 21:39] #57 closed

[2019-07-12 21:28] #70 closed

[2019-08-25 07:56] marckris opened #73 "node-gd crashes"
ubuntu 18.04.3 LTS
node v10.16.3
npm 6.9.0
node-gd 1.6.0

When installing using NPM there are many warnings as per attached text file. Nevertheless NPM installs it anyway.

Either when performing Gd.createSync or Gd.createFromJpeg (not sure) but I get a segmentaion fault.
[node-gd-segfault.txt](https://github.com/y-a-v-a/node-gd/files/3537927/node-gd-segfault.txt)

[2019-08-25 08:03] marckris commented on #73
More information using gdb backtrace

(gdb) bt
#0  _IO_new_fclose (fp=0x0) at iofclose.c:48
#1  0x00007fffdf7aefa1 in Gd::CreateFromJpeg(Nan::FunctionCallbackInfo<v8::Value> const&) ()
   from /xxx/node_modules/node-gd/build/Release/node_gd.node
#2  0x00007fffdf7a3acf in Nan::imp::FunctionCallbackWrapper(v8::FunctionCallbackInfo<v8::Value> const&) ()
   from /xxx/node_modules/node-gd/build/Release

[2019-09-02 09:17] y-a-v-a commented on #73
Hi I was off for vacation but back. I will take a look somewhere this week. Regards, Vincent

[2020-01-10 12:32] y-a-v-a commented on #33
C++ is a strongly typed language, and node-gd is explicitly a binding to libgd. I think, after merely three years, that I tend to disagree with you and that it is a developer's responsibility to deliver the expected values.

[2020-01-10 12:32] #33 closed

[2020-01-10 12:33] #68 closed

[2020-05-23 04:44] deadstar1 opened #76 "TypeError: whats.cropAuto is not a function"
[code]
can you help on this. why cropAuto is not a function when it is called?

[2020-05-25 07:45] y-a-v-a commented on #76
Hi, `gd.createFromPng` returns a Promise (see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise ). So your code should probably be something along these lines:

[code]

[2020-05-25 07:45] #76 closed

[2020-05-25 07:47] y-a-v-a commented on #76
Alternatively you could do:

[code]

[2020-05-25 10:15] deadstar1 commented on #76
it does not work :(
![image](https://user-images.githubusercontent.com/6646675/82803795-b880ba00-9eb3-11ea-8895-58276969bb92.png)

[2020-05-25 12:31] y-a-v-a commented on #76
Check with `console.log` what `img` is. Can the image be found? It should be in the same directory as your script. I've run the script locally with this directory layout and I nicely get a resulting image (though I had to add a parameter to `savePng`, being the `-1`).

[code]

[code]
I hope this helps. Just a side note: the `issues` environment of this repository is meant for presumed bugs. Unfort

[2020-05-26 02:31] flyingspoon opened #77 "node-gd fails to install"
`root@root ~/testing # npm install node-gd
npm ERR! Linux 4.15.0-101-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "node-gd"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! code EMISSINGARG

npm ERR! typeerror Error: Missing required argument #1
npm ERR! typeerror     at andLogAndFinish (/usr/share/npm/lib/fetch-package-metadata.js:31:3)
npm ERR! typeerror     at fetchPackageM

[2020-05-26 07:40] y-a-v-a commented on #77
Hi, your NPM version is quite behind, as it is currently in its 6.x version branch. You can update it by running `npm install -g npm`. That _could_ be the issue, but there could be other issues too: did you install all dependencies as described in the readme.md of this project?
Regards,
Vincent

[2020-06-26 08:35] batuhanoztrk opened #78 "CentOS node-gyp rebuild Error"
Operating System: CentOS 7
Node Version: v14.4.0
Npm Version: 6.14.5
node-gyp: Latest
GCC:  4.8.5

![Ekran Resmi 2020-06-26 11 35 09](https://user-images.githubusercontent.com/34206290/85837733-1cdbb580-b7a1-11ea-80fd-07ac8f3b57e6.png)

[2020-06-26 09:06] y-a-v-a commented on #78
Hi @batuhanoztrk , thanks for reaching out. Could you translate the error message shown in your console screen shot? What version of libgd did you install?
Regards, Vincent

[2020-06-26 09:32] batuhanoztrk commented on #78
For Centos, I know that libgd consists of gd and gd-devel. Sorry for not paying attention to the language of the screenshot. I forward the log file as an attachment. Thanks for your quick return

gd and gd-devel version: 2.0.35-26.el7

`make: `/root/node_server/project2/node_modules/node-gd/build' entering directory
  CC(target) Release/obj.target/nothing/../node-addon-api/nothing.o
  AR(target) R

[2020-06-26 10:21] y-a-v-a commented on #78
Hi @batuhanoztrk , thing is, gd version 2.0.35xx is from 2007, which is released 13 years ago... My current guess is that TIFF was not yet supported back then, neither was Webp. I have been trying to keep support via backwards compatibility, but I think your build fails due to either back logic from my side, or the implicit drop of support for that old version. I would suggest to see if you can ob

[2020-06-26 10:26] y-a-v-a commented on #78
If I quickly search for gd in CentOS 7 package sources, I see that gd is added in 2014. Looking at CentOS 8, the gd library is of version 2.2.5, of which I know it should work. Reference: http://mirror.centos.org/centos/8/AppStream/x86_64/os/Packages/ just FYI.

[2020-06-26 15:03] batuhanoztrk commented on #78
Thank you very much for your support. I updated my server to CentOS 8 and there was no problem.

[2020-06-26 15:03] #78 closed

[2020-06-30 07:31] y-a-v-a commented on #78
Thanks for letting me know. Good luck!

[2020-07-07 08:58] lampdev opened #79 "node-gd fails to install on AWS AMI HVM EC2"
I want to create node layer for AWS lambda with node-gd. So I created new EC2 instance with default AWS AMI HVM, I installed gd-devel, but install node-gd always fails, here is output for npm install node-gd

npm WARN deprecated request@2.88.2: request has been deprecated, see https://git                                                                                              hub.com/request/r

[2020-07-07 09:34] y-a-v-a commented on #79
Hi thanks for reaching out. I have no immediate clue, as I have never tried to build node-gd in an AWS environment. Your node version seems OK... Do you have any clue what version of gd-devel is installed?
Cheers,
Vincent

[2020-07-07 12:30] lampdev commented on #79
Yes, here is info
yum info gd-devel
Loaded plugins: priorities, update-motd, upgrade-helper
354 packages excluded due to repository priority protections
Available Packages
Name        : gd-devel
Arch        : x86_64
Version     : 2.0.35
Release     : 11.10.amzn1
Size        : 84 k
Repo        : amzn-main/latest
Summary     : The development libraries and header files for gd
URL         : http://ww

[2020-07-07 13:38] y-a-v-a commented on #79
Thanks for letting me know. I think, when looking at https://github.com/libgd/libgd/releases , that the release of gd of 2.0.35 is about 10 years old. Even though I do have some logic for support of features for 2.0.36, I could very well have broken support for such old versions last year... The alternative could be to download a version of libgd from elsewhere or find another way to get a more re

[2020-09-03 12:28] vladislav805 opened #81 "Support for TypeScript?"
Are there types for TypeScript?
Package `@types/node-gd` not exists. I don't see `*.ts` files in the repository.

[2020-09-03 13:04] y-a-v-a commented on #81
Hi Vladislav, thanks for reaching out. Currently there is no *.ts files. I have not had the time to create them. Feel free to fork the repo, add them and make a pull request.
Cheers 🍻 Vincent

[2020-09-10 07:15] y-a-v-a commented on #77
@flyingspoon if you still encounter issues, please drop a note here, or else I will close this issue due to too long inactivity. Regards, Vincent

[2020-09-10 09:40] #81 closed

[2020-09-11 19:56] scheepers opened #84 "TypeError: Cannot redefine property: saveJpeg"
When running test suites that include async test cases for modules using:
[code]
The following error occurs:
[code]
Which can be fixed by this patch:
[code]

[2020-09-13 12:04] y-a-v-a commented on #84
HI @scheepers thanks for reaching out. Could you elaborate on test suites that use async test cases? What does your code setup look like in those cases?
I'm wondering if your proposed solution is enough, in the sense that either we would need to make a "deeper" fix, or you might need to change the way you load `node-gd`. Could you supply a test case in order to investigate it more thorough? Thanks

[2020-09-13 20:01] scheepers commented on #84
Hi Vince, thanks for responding.
My test cases are written in Jest for the following use case: an image wrapper to encapsulate image loading and a few calculation functions. Many of those are contained in a dictionary.
I've now found if I run the test suites for these two objects seperately they both pass all tests, but running the whole suite produces the error result.

[2021-03-11 03:23] RannaAI opened #85 "gifAnimBegin not working as documented"
Hello,
I'm not sure if this is known or not, I've been using the old version of the library because of these kind of errors, but since I'm forced to update the project I'm going through all libraries, I actually have an issue with gif creation.

This line :
firstFrame.gifAnimBegin(anim, 1, -1);

Throws:
TypeError: Argument 0 must be an integer

I assume that we moved to a better way to create gif

[2021-03-11 04:09] RannaAI commented on #85
Hello again,
Also based on the new code I'm not able to generate a proper gif, I'm not sure what i'm doing wrong, here is an example :

[code]
a.png
![a](https://user-images.githubusercontent.com/66184347/110734183-8e706c80-8227-11eb-8ad6-27266d78af8e.png)
b.png
![b](https://user-images.githubusercontent.com/66184347/110734185-8f090300-8227-11eb-8067-66e6b9412397.png)
result in anim.gif
![anim](ht

[2021-03-11 08:06] y-a-v-a commented on #85
Hi @RannaAI thanks for reaching out! I didn't think anyone was still useing `node-gd` apart from myself...! So that's good news for me of course. The downside is your issue. I will have to look into this, and might take a week or so, since I maintain node-gd in my spare time, I hope you understand. But I will respond!
Regards, Vincent

[2021-03-11 08:24] y-a-v-a commented on #85
Hi @RannaAI so far my findings are that creating an animated GIF from in-memory created images (i.e. not from external images) works as expected, and is part of the module's tests. But I will extend the test and see if I can add your images (if you allow me to) and see if I can find the issue.
Next to that, there might also be an issue outside of node-gd, which might be an issue at libgd's side (s

[2021-03-11 10:54] RannaAI commented on #85
Hi Vincent,
Thank you for your prompt reply, I've been using your library for almost 2 years now, and it works great, maybe that's why nobody is reporting issues, it just work as like charm.

This issue is only related to the new version 2.x I guess. My previous code is still working fine with 1.6.1 but I really apreciated what you've done in 2.x whne I read your blog post and I wanted to update m

[2021-04-06 10:18] akanshSirohi opened #86 "Windows support can be added"
Windows [libgd](http://gnuwin32.sourceforge.net/packages/gd.htm) binary can be found here, so I think windows support can now be added in this module.

[2021-04-07 06:59] y-a-v-a commented on #86
Hi thanks for letting me know. I'll see if I can find a way to incorporate the retrieval and usage of it in node-gd.

[2021-07-05 22:20] y-a-v-a commented on #79
No reply in a year, closing issue.

[2021-07-05 22:20] #79 closed

[2021-07-05 22:22] #77 closed

[2021-12-17 09:52] maximshe commented on #84
Hi @y-a-v-a ,

[2022-06-07 23:52] vit1251 opened #89 "Create in-memory image blob processing via `express`"
How to processing image in-memory and delivery user without save on disk? i.e. convert image to `Blob` or `ArrayBuffer` to delivery with `express` server handler?

[2022-06-08 08:47] y-a-v-a commented on #89
Hi, the function `pngPtr` for example will return a `Buffer` which you can send directly to the client via `res.send()`. Be aware to add the proper `Content-Type` HTTP header in the response so that the client knows it is dealing with an image.

The function `pngPtr` and `jpegPtr` and `gifPtr` are not (yet) well documented in the docs, but you can see for example from https://github.com/y-a-v-a/no

[2022-06-08 19:28] vit1251 commented on #89
Your code cause an segmentation error:

[code]

But correct `gd` source code sequence provide well image content. Thanks.

[2022-06-08 19:28] #89 closed

[2022-06-08 19:38] y-a-v-a commented on #89
Cool to hear. I will review what causes that error but probably because an empty created paletted images does not contain any image actually.

[2022-06-08 19:44] #73 closed

[2022-06-08 23:17] vit1251 commented on #89
Yep. But await an exception instead `Segfault` with coredump entire express server.

[2022-08-23 08:42] MrMaxorz opened #90 "How to antialiasing the polygon"
![Screen Shot 2565-08-23 at 15 38 59](https://user-images.githubusercontent.com/35359068/186113060-bc6d26fb-d806-4927-b42e-b336519213c7.png)

When I draw polygon it has edges. I want to antialias polygon's boundary edge.
How to antialiasing or do something to make polygon's corners smooth?

[2022-08-26 11:03] MrMaxorz opened #91 "npm i node-gd and error"
When I do npm i node-gd I found this error:

npm ERR! path /Users/Maxorz/Works/Longdo/thaimap-services/node_modules/node-gd
npm ERR! command failed
npm ERR! command sh -c node-gyp rebuild
npm ERR! gyp info it worked if it ends with ok
npm ERR! gyp info using node-gyp@5.1.1
npm ERR! gyp info using node@16.16.0 | darwin | arm64
npm ERR! gyp info find Python using Python version 3.9.13 found at "/opt

[2022-08-26 11:13] y-a-v-a commented on #91
Hi,
Isn't this message the solution?

Cheers Vincent

[2022-08-26 11:17] y-a-v-a commented on #90
Hi I have taken a look in https://github.com/libgd/libgd/ but I cannot find code there that would suggest a way to round those corners. There might be a way to turn on anti-aliasing so the edges of the line are more smooth. As far as I can see in this code from libgd, you should set an anti-aliased color and then use that in drawing:
https://github.com/libgd/libgd/blob/167ea1f4f0003f3e9f7ca1e58618

[2022-08-26 12:03] MrMaxorz commented on #91
After I fix Xcode now I found this error:

npm ERR! path /Users/Maxorz/Works/Longdo/thaimap-services/node_modules/node-gd
npm ERR! command failed
npm ERR! command sh -c node-gyp rebuild
npm ERR! CC(target) Release/obj.target/nothing/../node-addon-api/nothing.o
npm ERR!   LIBTOOL-STATIC Release/nothing.a
npm ERR! gyp info it worked if it ends with ok
npm ERR! gyp info using node-gyp@5.1.1
npm ERR!

[2022-08-26 12:10] MrMaxorz commented on #90
Thanks for response.
I'll try set an anti-aliased color I'll review how it work or not.

[2022-08-26 15:19] MrMaxorz commented on #91
no luck with this issue 😭

npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated uuid@3.4.0: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.
npm WARN deprecated request@2.88.2: request has been deprecated, see https:/

[2022-08-29 15:16] MrMaxorz commented on #91
try to run this:

[code]

[2022-08-30 09:29] MrMaxorz commented on #91
may be this issue found only in arm64

[2022-09-08 12:15] vitorbertolucci commented on #91
Your correct, this is an ARM only issue. I've been having it for a while now.

[2022-09-08 14:00] vitorbertolucci commented on #91
I managed to make it work on my Macbook M2.

There are two problems:

1 - node-gd requires an older version of Python, so you need to install Python 2.7.18 from https://www.python.org/downloads/release/python-2718/

2 - node-gyp is cannot locate the gd files (gd.h, gd_io.h and so on) on the directories `/opt/homebrew/include/` and `/otp/homebrew/lib/`, since it only looks for them on `/usr/local/*

[2022-10-31 15:42] surendiranganesan commented on #66
Hi Nikoskip,

I am facing library issue while executing code.
can you please provide which files needs to be copied.

regards,
Suren

[2022-11-02 06:26] setiawanj opened #93 "How to access individual frames from a loaded animated GIF?"
Not sure if it's possible, don't think it's described in the documentation. If I load a gif using openGif or createFromGif, how would I access the second, third, etc. frame?